.vantagensPage{
    display: none;
    place-content: center;
    min-height: 100vh;
    padding-bottom: 30px;
}
.vantagens{
    min-height: 90vh;
    width: 90vw;
    padding: var(--size-3);
    border-radius: var(--size-1);
    background: var(--color-1);
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}
.vantagens-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 100%;
    max-width: 960px;
    gap: var(--size-3);
    margin: 0 auto;
}
@media (max-width: 1200px){
    .vantagens-contain{
        grid-template-columns: 1fr;
    }
}
.dl-contain{
    display: grid;
    gap: var(--space-1);
}
.dt-titulo{
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: var(--space-1);
    position: relative;
}
.dt-titulo::before{
    content: '';
    background: var(--color-2);
    width: 14px;
    height: 18px;
    top: 0px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
}
.dd-bg{
    background: #f2f2f2;
    padding: var(--space-1);
}